@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
	:root {
  --background: 36.0 51.72% 94.31%;
  --foreground: 27.27 91.67% 4.71%;

  --card: 60.0 33.33% 99.41%;
  --card-foreground: 27.27 91.67% 4.71%;

  --popover: 60.0 33.33% 99.41%;
  --popover-foreground: 27.27 91.67% 4.71%;

  --primary: 27.27 91.67% 4.71%;
  --primary-foreground: 0.0 0.0% 100.0%;
  --primary-shade: 32.31 79.59% 9.61%;

  --secondary: 0.0 0.0% 36.08%;
  --secondary-foreground: 0.0 0.0% 100.0%;

  --accent: 217.19 64.71% 36.67%;
  --accent-foreground: 0.0 0.0% 100.0%;

  --muted: 0.0 0.0% 90.98%;
  --muted-foreground: 0.0 0.0% 36.08%;

  --destructive: 0.0 84.04% 36.86%;
  --destructive-foreground: 0.0 0.0% 100.0%;

  --border: 0.0 0.0% 90.98%;
  --input: 0.0 0.0% 36.08%;
  --ring: 217.19 64.71% 36.67%;

  --danger: 0.0 84.04% 36.86%;
  --danger-tint: 0.0 50.0% 87.45%;
  --danger-engaged: 0.0 84.07% 22.16%;

  --disabled: 0.0 0.0% 55.29%;
  --disabled-tint: 0.0 0.0% 90.98%;
  --disabled-shade: 0.0 0.0% 33.33%;

  --sand: 46.15 24.53% 79.22%;
  --peach: 30.0 83.02% 79.22%;
  --lemon: 53.68 96.61% 76.86%;
  --mint: 109.17 59.02% 76.08%;
  --blush: 285.48 88.57% 86.27%;
  --sky: 197.78 95.29% 83.33%;

  --font-sans: Helveesti, Helvetica Neue, Helvetica, Arimo, Arial, sans-serif;
  --font-serif: Arizona Flare, Maitree, Georgia, serif;

  --radius: 3rem;
}



}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}
